<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<%= link_to "<i class='bi bi-pencil-square'></i> Edit".html_safe, edit_article_path(@article), class: "btn btn-primary btn-sm" %>
<%= link_to "<i class='bi bi-trash'></i> Delete".html_safe, article_path(@article), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    }, class: "btn btn-danger btn-sm" %>
<br />
<br />
<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>